{% extends "layout.html" %}

{% block title %}
    Advertiser Account
{% endblock %}

{% block main %}
  <p>
    Keep up to date with your account balance on the Scout advertisement platform. Make
    deposits by contacting our finance office at finance@scout.org to set up a direct deposit.
  </p>
  <table class="table">
    <tbody>
      <tr>
        <th scope="row">Run Times</th>
        <td>0</td>
      </tr>
      <tr>
        <th scope="row">Payments</th>
        <td>$0</td>
      </tr>
      <tr>
        <th scope="row">Deposits</th>
        <td>$0</td>
      </tr>
      <tr>
        <th scope="row">Total Balance</th>
        <td>$0</td>
      </tr>
    </tbody>
  </table>
{% endblock %}