{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block body %}

    <img src= "/static/city.jfif" alt = "Image of City" id = "homecity">

{% endblock %}

{% block main %}


        <h2 class = "title2">What is Scout?</h2>
        <p style = "text-align: center">
          Scout is an innovative new app that is changing the way local businesses advertise.
          Scout allows for local companies to upload ads to its platform while select users can run these
          ads on their device and earn a commission.
        </p>
{% endblock %}