{% extends "layout.html" %}

{% block title %}
    Team
{% endblock %}

{% block body %}
    <h1 class = "title">Team</h1>
    <table>
        <tr>
            <td><img src="/static/mike.JPG" alt="Michael Bocker Picture"  id = "rotate"  class = "teamimg"></td>
            <td><p>Co-Founder</p><p>Mike Bocker grew up in the suburbs of Chicago and studies Applied Mathematics with a focus in data science at Harvard College. Before Harvard, Mike spent the majority of his time playing sports (lacrosse and football) with the dream of becoming a professional athlete. Unfortunately, due to a series of injuries during his senior year of high school, he was unable to make good on that dream. This past summer, he worked for MATTER, a healthcare startup incubator based out of Chicago. He spent his time there connecting large corporations to startups based on market research and the corporations’ pre-established strategies. As for hobbies, Mike is an avid outdoorsmen, part-time cello player, and rugby enthusiast.</p></td>
        </tr>
        <tr>
            <td><img src="/static/luke.PNG" alt= "Luke van Gog Picture" class = "teamimg"></td>
            <td><p>Co-Founder</p><p>Luke is a sophomore in Kirkland House studying Applied Mathematics in Economics with a secondary in Astrophysics. He has experience working in asset management and the M&A division of Deloitte. Outside of the club, Luke is also a Director at Y2Y Homeless Shelter and enjoys playing soccer in his free time.</p></td>
        </tr>
    </table>

{% endblock %}
