{% extends "layout.html" %}

{% block title %}
    User Account
{% endblock %}

{% block main %}
    <p>
      Keep up to date with the income made through the Scout advertisement platform. Once linked with your Uber account,
      the running time of advertisements played in your rides will be calculated along with your subsequent revenue. Make
      withdrawals by contacting our finance office at finance@scout.org to set up a direct deposit.
    </p>
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Running Time</th>
          <td>0mins</td>
        </tr>
        <tr>
          <th scope="row">Revenue</th>
          <td>$0</td>
        </tr>
        <tr>
          <th scope="row">Withdrawals</th>
          <td>$0</td>
        </tr>
        <tr>
          <th scope="row">Total Balance</th>
          <td>$0</td>
        </tr>
      </tbody>
    </table>
{% endblock %}